body{
  margin:0;
  font-family:'Segoe UI',sans-serif;
  background: linear-gradient(135deg,#0f172a,#020617);
  color:white;
}

/* Layout */
.layout{
  display:flex;
}

/* Sidebar */
.sidebar{
  width:220px;
  background:rgba(255,255,255,0.05);
  backdrop-filter: blur(12px);
  height:100vh;
  padding:20px;
}

.sidebar h2{
  color:#38bdf8;
}

.sidebar a{
  display:block;
  color:white;
  margin:12px 0;
  padding:10px;
  border-radius:8px;
  transition:0.3s;
}

.sidebar a:hover{
  background:#1e293b;
}

/* Main */
.main{
  flex:1;
  padding:20px;
}

/* Cards */
.cards{
  display:flex;
  gap:20px;
}

.card{
  flex:1;
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(12px);
  padding:20px;
  border-radius:15px;
  text-align:center;
  transition:0.3s;
  box-shadow:0 0 20px rgba(56,189,248,0.2);
}

.card:hover{
  transform:translateY(-6px);
  box-shadow:0 0 40px rgba(56,189,248,0.6);
}

/* Alerts */
.alert{
  background:#ef4444;
  padding:10px;
  margin:10px 0;
  border-radius:8px;
  animation:fade 0.4s ease-in;
}

/* Map */
.map{
  height:500px;
  border-radius:15px;
  overflow:hidden;
}

/* Inputs */
input{
  margin:5px;
  padding:8px;
  border-radius:5px;
  border:none;
}

button{
  padding:8px 15px;
  background:#38bdf8;
  border:none;
  border-radius:6px;
  cursor:pointer;
}

button:hover{
  background:#0ea5e9;
}

/* Animation */
@keyframes fade{
  from{opacity:0;transform:translateY(10px);}
  to{opacity:1;}
}